*.php text eol=lf
*.json text eol=lf
*.neon text eol=lf
*.bat text eol=crlf
*.js text eol=lf
*.css text eol=lf
composer.json text eol=lf
composer.lock text eol=lf
phpunit.xml text eol=lf

/vendor export-ignore
/.env export-ignore
