/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
backend.zip


# Laravel specific files
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/testing/*
/storage/app/*.log

# Tool-specific files
/.phpunit.cache
/.phpunit.result.cache
/.phpunit.xml
/.phpunit.xml.dist
/.phpunit.xml

# IDE-specific files
*.iml
*.idea/
*.vscode/
*.code-workspace

# Environment files
.env.backup
.env.local
.env.testing
.env.production

# Misc
*.tgz
*.zip
*.tar
*.tar.gz
*.gz
*.7z
*.rar
*.bak
*.tmp
*.temp
*.orig
*.swp
*.swo
*.DS_Store
Thumbs.db