parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
        - app/Http/Middleware/Authenticate.php
        - app/Http/Middleware/RedirectIfAuthenticated.php
        - app/Http/Middleware/TrustHosts.php
        - app/Http/Middleware/TrustProxies.php
        - app/Http/Middleware/VerifyCsrfToken.php
        - app/Providers/BroadcastServiceProvider.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::validate\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::validated\(\)#'